/prueba/target/
/Variables/nbproject/private/
/Variable/nbproject/private/
/HolaMundo/nbproject/private/
/Variables/build/
/StringClass/nbproject/private/
/StringClass/build/
/Material/nbproject/private/
/Material/build/
/Material/dist/
/Operadores/nbproject/private/
/Operadores/build/
/VariablesYConstantes/nbproject/private/
/ClaseMath/nbproject/private/
/String/nbproject/private/
/ClaseMath/build/
/Semana 1/ClaseMath/build/
/Semana 1/Operadores/build/
/Semana 2/EntradaYSalidaDatos/nbproject/private/
/Semana 2/EntradaYSalidaDatos/build/